@using Markdig

@page "/timesheet/"

@inject IAppSettingsService Svc
@inject NavigationManager NavManager

@if (Svc.AppSettings.DefaultConnectionStringIndex is null)
{
    <PleaseChooseDb />
}
else
{
    <h1>Timesheet Change Log</h1>
    @if (Sheets.Any())
    {
        <label>Select a timesheet:</label>
        <select value="" class="form-control" @onchange="@OnSelect">
            <option value="">-- Select --</option>
            <optgroup label="** Recently Modified **">
                @foreach (var sheet in Sheets.Where(w => w.HasRecentChanges).OrderBy(o => o.UserId).ThenBy(o => o.PlacementId).ThenByDescending(o => o.WeekEndingDate).ToList())
                    {
                        <option value="@sheet.Id">
                        (@sheet.Id) @sheet.GetCandidate() - @sheet.GetPlacement() - @sheet.WeekEndingDate.Date.ToShortDateString()
                        </option>
                    }
            </optgroup>
            @foreach (var group in Sheets.GroupBy(g => g.GetCandidate()).OrderBy(o => o.Key))
            {
                <optgroup label="@group.Key">
                    @{
                        var max = group.Max(m => m.Id).ToString().Length + 2; 
                    }
                    @foreach (var sheet in group.OrderBy(o => o.PlacementId).ThenByDescending(o => o.WeekEndingDate).ToList())
                    {
                        <option value="@sheet.Id">
                            @Markdown.ToPlainText(@sheet.GetPaddedSheetId(max)) @sheet.GetCandidate() - @sheet.GetPlacement() - @sheet.WeekEndingDate.Date.ToShortDateString()
                        </option>
                    }
                </optgroup>
            }

        </select>
    }
}

@code {
    private List<TimesheetLookupDto> Sheets = new List<TimesheetLookupDto>();

    protected override async Task OnInitializedAsync()
    {
        if (Svc.AppSettings.DefaultConnectionStringIndex != null)
        {
            try
            {
                Sheets = await Db.FetchTimesheetLookups(Svc.AppSettings.DefaultConnectionStringValue!);
                StateHasChanged();
            }
            catch (Exception ex)
            {
                //todo
            }
        }
    }

    async Task OnSelect(ChangeEventArgs e)
    {
        //Svc.AppSettings.DefaultConnectionStringIndex = int.TryParse(e.Value?.ToString(), out var i) ? i : null;
        //await Svc.Save(Svc.AppSettings);
    }
}
